.Project-heading{
    display: flex;
    justify-content: center;
    font-size: 2rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 600;
    
    padding-top: 6rem;
}
.project-text{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 1.5rem;
    color: white;
    /* font-size: 1.rem; */
    font-weight: 600;
    padding-left: 1.2rem;
}
#project-text{
display: flex;
align-items: center;
justify-content: center;
color: white;
font-weight: 600;
flex-wrap: wrap;
padding-left: 1.2rem;

}
.project-img{
    display: flex;
    justify-content: space-around;
    padding-top: 4rem;
    
    flex-wrap: wrap;

}
.project-img1{
    height: 15rem;
    width: 18rem;
    background-color: rgb(19, 17, 17);
    border-radius: 9px;
    box-shadow: 2px 2px 19px rgb(8, 17, 8);
    margin-bottom: 2.9rem;
    
}
.project-img2{
    height: rem;
    width: 18rem;
    background-color: rgb(19, 16, 16);
    border-radius: 9px;
    box-shadow: 2px 2px 19px rgb(8, 17, 8);
    margin-bottom: 2.9rem;
}
.project-img3{
    height: 15rem;
    width: 18rem;
    background-color: rgb(19, 17, 17);
    border-radius: 9px;
    box-shadow: 2px 2px 19px rgb(8, 17, 8)
}
.Project-text{
    color: aliceblue;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
}
.pro2-img{
    height: 15rem;
    width: 18rem;
    border-radius: 5px;
}