.footer {
    background-color: #1a1a1a;
    color: yellow;
    padding: 40px 20px;
    text-align: center;
    margin-top: 2rem;
    height: 14rem;
  }
  
  .footer-container {
    max-width: 1000px;
    margin: auto;
  }
  
  .footer-logo {
    font-size: 24px;
    margin-bottom: 20px;
    font-size: 3rem;
    font-weight: 700;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }
  .footer-heading{
    font-size: 1.4rem;
  }
  .footer-nav {
    list-style: none;
    padding: 0;
    margin: 10px 0;
    display: flex;
    justify-content: center;
    gap: 30px;
  }
  
  .footer-nav a {
    color: #d44141;
    text-decoration: none;
    transition: color 0.3s ease;
  }
  
  .footer-nav a:hover {
    color: #00bcd4;
  }
  
  .footer-socials {
    margin: 20px 0;
    display: flex;
    justify-content: center;
    gap: 20px;
  }
  
  .footer-socials a {
    color: #f0f0f0;
    text-decoration: none;
    transition: color 0.3s ease;
  }
  
  .footer-socials a:hover {
    color: #00bcd4;
  }
  
  .footer-copy {
    font-size: 14px;
    color: #999;
    margin-top: 20px;
  }
  #wh{
    color: forestgreen;
    font-size: 2rem;
  }
  #in{
    color: red;
    font-size: 2rem;
  }
  #sn{
    color: yellow;
    font-size: 2rem;
  }
  