.footer {
  background-image: linear-gradient(90deg,#485055 0 ,rgba(33, 70, 138, 0.192));
    padding: 20px;
  text-align: center;
  margin-top: .1rem;
  height: auto; 
}

.footer-container {
  max-width: 100%;
  margin: auto;
}
.footer-socials {
  margin: 10px 0;
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap; /* allow wrapping */
}

.footer-socials a {
  color: rgb(86, 143, 201);
  text-decoration: none;
  transition: color 0.3s ease;
}

.footer-socials a:hover {
  color: #00bcd4;
}

.footer-copy {
  font-size: 15px;
  color: #f0eff7a4;
  margin-top: 20px;
}

#wh {
  color: forestgreen;
  font-size: 2rem;
}

#in {
  color: red;
  font-size: 2rem;
}

#sn {
  color: yellow;
  font-size: 2rem;
}

/* ------------ Responsive rules -------------- */
@media (max-width: 768px) {
 
  .footer-logo {
    font-size: 2rem;
  }

  .footer-heading {
    font-size: 1.6rem;
  }

  /* .footer-nav {
  font-size: 3rem;
    gap: 10px;
  } */

  .footer-socials {
    flex-direction: row; 
    gap: 40px;
  }

  #wh, #in, #sn {
    font-size: 2rem; 
  }
}

@media (max-width: 480px) {
  .footer-logo {
    font-size: 1.8rem;
  }

  .footer-heading {
    font-size: 1rem;
  }

  .footer-copy {
    font-size: 12px;
  }

  #wh, #in, #sn {
    font-size: 1.3rem;
  }
}
